<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <!-- Burger CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css" />
  {{!-- JQuery --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  {{!-- Main JS --}}
  <script src="/assets/js/main.js"></script>
  <title>El Burger Place</title>
</head>

<body id="gradient">
  <div class="container">
    <div class="row justify-content-center text-center mt-2 mb-4">
      <h1 class="col-12">Welcome to El Burger</h1>
    </div>
  </div>
  <img src="/assets/img/burger.jpg" class="mx-auto d-block" id="main-burger-img" alt="el-burger-logo">

  <hr style="width: 50%; color: black; height: 1px; background-color:black;" />

  {{{ body }}}

  <!-- Popper.js, Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>

</html>