<h1>All of the Burgers</h1>

<h3>Choose which burger you wish to DEVOUR</h3>

{{!-- <ul>
    {{#each burgers}}
    <li>
        <p>ID: {{id}}</p>
        <p>Name: {{name}}</p>
        <p>Devoured: {{devoured}}</p>
    </li>
    {{/each}}
</ul> --}}

{{!-- <form action="/" method="POST">
    <textarea type="text" name="task"></textarea>

    <button type="submit">Submit</button>
</form> --}}