<div class="card w-25 bg-primary">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <h6 class="card-subtitle mb-2">Devoured: {{devoured}}</h6>
        <button type="button" class="btn btn-outline-light" data-id="{{id}}">devour!</button>
    </div>
</div>