<div class="card w-25 bg-primary">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <button type="button" class="btn btn-outline-light devour" data-id="{{id}}">devour!</button>
    </div>
</div>